<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="/static/css/layui.css">
    </head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            {{ template "layout/header.html" }}

            {{ template "layout/menu.html" }}

            <div class="layui-body">
                <div style="padding: 15px;">
                    {{ .LayoutContent }}
                </div>
            </div>
            {{ template "layout/footer.html" }}
        </div>
    </body>
</html>