<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item"><a href="/">仪表盘</a></li>
            <li class="layui-nav-item"><a href="/cluster">集群管理</a></li>
            <li class="layui-nav-item"><a href="/project">项目管理</a></li>
            <li class="layui-nav-item"><a href="/application">应用管理</a></li>
            <li class="layui-nav-item"><a href="/cicd">CI/CD</a></li>
            <li class="layui-nav-item"><a href="/appstore">应用市场</a></li>
            <li class="layui-nav-item"><a href="/appstore">平台设置</a></li>
        </ul>
    </div>
</div>